<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Health Plus</title>
    


    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <!-- Mi CSS -->
    
    <link rel="stylesheet" href="css/data.css">


    <script src="js/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous">
    </script>

    <script src="js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type='text/javascript' src='js/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='js/demo.js'></script>



</head>

<body class="animate-area" id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top colortope">
        <div class="container-fluid">
            <!-- toggle para mobile -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll logo" href="#page-top"><img src="img/logomedical.png"></a>
            </div>

            <!-- Menu principal -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right social-network social-circle">
                    <li>
                        <a class="page-scroll" href="pacientes.html">Pacientes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="citas.html">Citas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Notificaciones</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Estadisticas</a>
                    </li>
                        <li><a href="login_cerrar.html" class="icoSnapchat" title="fa fa-snapchat"><i class="fa fa-sign-out"></i></a></li>
                    </ul>				
				</div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

   <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h2 class="page-header">
                    NOTIFICACIONES
                    <small></small>
                </h2>

                <!-- First Blog Post -->
                <h3>Nuevos medicamentos
                </h3>
                <p><span class="glyphicon glyphicon-time"></span> Creado el 17/08/2016</p>
                <hr>
                <img class="img-responsive well" src="img/medicamentos.jpg" alt="">
                <hr>
                <p class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>

                <hr>

                <!-- Second Blog Post -->
               <h3>Nuevas tecnologias
                </h3>
                <p><span class="glyphicon glyphicon-time"></span> Creado el 17/08/2016</p>
                <hr>
                <img class="img-responsive well" src="img/medic.jpg" alt="">
                <hr>
                <p class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>


                <hr>

                <!-- Third Blog Post -->
                <h3>Congreso de salud
                </h3>
                <p><span class="glyphicon glyphicon-time"></span> Creado el 17/08/2016</p>
                <hr>
                <img class="img-responsive well" src="img/congreso.jpg" alt="">
                <hr>
                <p class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                
                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; anteriores</a>
                    </li>
                    <li class="next">
                        <a href="#">nuevas &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Buscar</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Salud</a>
                                </li>
                                <li><a href="#">Medicamentos</a>
                                </li>
                                <li><a href="#">Equipos</a>
                                </li>
                                <li><a href="#">Eventos</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Salud</a>
                                </li>
                                <li><a href="#">Medicamentos</a>
                                </li>
                                <li><a href="#">Equipos</a>
                                </li>
                                <li><a href="#">Eventos</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
        
            <!-- /.row -->
        </footer>

    </div>



    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
    $('.carousel').carousel({
        interval: 3000
    })
</script>
 <script>
  $( function() {
    $( "#accordion" ).accordion({
      active: false,
      collapsible: true
    });
  } );
  </script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>
    <!-- datapicker -->
      <script src="js/jquery-1.12.4.min.js"integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="crossorigin="anonymous"></script>
    <script type="text/javascript"
     src="js/moment-with-locales.js">
    </script> 
    <script src="js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <script src="js/jquery-ui.js"></script>
  <script type="text/javascript">
  
    </script>

</body>

</html>
